.chatHeader {
    height: 6em;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    margin-bottom: 3em;
    margin-left: 0;
}

.chatTitle {
    font-size: 52px;
    font-family: serif;
    text-align: center;
    color: white;
    padding-top: 28rem;
}

textarea.form-control {
    height: 10em;
}

.results {
    border-radius: 20px;
    border-color: darkslategray;
    box-shadow: 8px 12px #888888;
}

.fa-comments {
    font-size: 8em; color: darkgoldenrod;
    text-shadow: 6px 3px black;
    text-align:center;
    width: 100%;
    margin-top: 50px;
}

.connection {
    text-align: center;
    padding-top:5px;
    margin-top: 5px;
    font-size: 30px;
    color: rgb(155, 155, 155);
    font-size: 25px;
}

.btn-success {
    background: darkslategray;
}

.btn-success:hover {
    background: darkslategray;
}