.navbar {
    height: 5rem;
    background-color: darkslategray;
    color: white;
    width: 100%;
}

.nav-link {
    color: darkslategray;
}

.nav-item {
    width: 10%;
    color: darkslategray;
    background: white;
    margin-right: 15px;
    border-radius: 15px;
}

.nav-tabs {
    width: 100%;
    border: none;
    text-align: center;
    
}