.searchHeader {
    height: 40em;
    background-image: url(../images/searchHeader.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
}

.familyHome {
    width: 30em;
    margin: auto;
    width: 50%;
}

.container {
    padding: 0 auto;
}

.col-map {
    margin-top: 5em;
}

.col-searchForm {
    margin-top:5em;
}

.map {
    margin-top: 5em;
}

.btn-success {
    width: 100%;
}

.searchAbout {
    margin-top: 2.5em;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.875rem;
}

.col-searchForm {
    border: groove;
    border-width: 10px;
    padding: 4em;
    border-radius: 20px;
    border-color: darkslategray;
    box-shadow: 8px 12px #888888;
    
}

.searchHead {
    text-align:center;
    width:100%;
}


.fa-globe-americas{
font-size: 8em; color: darkgoldenrod;
text-shadow: 6px 3px black;
text-align:center;
width: 100%;
margin-top:1em;
margin-bottom: 20px;

}

.fa-house-damage{
    font-size: 8em; color: darkgoldenrod;
    text-shadow: 6px 3px black;
    text-align:center;
    width: 100%;
    margin-top:1em;
    margin-bottom: 20px;
}

.searchBody {
    margin-top: 20px;
}

.col-stats {
    margin-left: 5em;
    margin-right: 4em;
}

.radius {
    margin-top: 3em;
    text-align: center;
    
}

.radius {
    font-size: 25px;
}

.danger {
    color: red;
    font-family: "Nexa-Book";
}

.warning {
    color: orange;
    font-family: "Nexa-Book";
}

.success {
    color: green;
    font-family: "Nexa-Book";
}

.warningText {
    color: orange;
    font-family: "Nexa-Book";
    margin-top: 2em;;
}

.successText {
    font-family: "Nexa-Book";
    margin-top: 2em;
    color: green;
}