.sign-header {
    text-align: center;
    margin-top: 5em;
}

.test {
    margin-top: 5em;
    background: mediumaquamarine;
    height: 20vh;
}


.testOne {
    margin-top: 5em;
    background: mediumaquamarine;
    height: 20vh;
}


.testTwo {
    margin-top: 5em;
    background: mediumaquamarine;
    height: 20vh;
}



.signInTitle {
    text-align: center;
    width: 100%;
    height: 7em;
    background-image: url(../images/signinlogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 3.8em;
    color: white;
    font-size: 52px;
    font-family: "Nexa-Book";
    font-weight: normal;
    margin-bottom: 0;
    position:fixed;
    z-index:10;
    opacity: .9;
}

.mission {
    margin-top: 6em;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-left: 3em;
    font-size: 1.875rem;

}

.goal {
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    margin-right: 3em;
    
}

.missionState {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(155, 155, 155);
    font-size: 20px;
}


.goalState {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    text-align: center;
    color: rgb(155, 155, 155);
    font-size: 20px;
}

.activities {
    margin-top: 6em;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 3em;
    font-size: 1.875rem;
    margin-right: 3em;
}

.fa-american-sign-language-interpreting {
    font-size: 14em; color: darkgoldenrod;
    text-shadow: 6px 3px black;
}

.col-hands {
    padding-top: 12em;
    padding-left: 4.5em;
}

.fa-bullseye {
    font-size: 8em; color: darkgoldenrod;
    text-shadow: 6px 3px black;
}

.fa-fist-raised {
    font-size: 8em; color: darkgoldenrod;
    text-shadow: 6px 3px black;
}







